# dependencies
node_modules
npm-debug.log*

# production
**/dist
.turbo
zip
.pnpm-store
tsconfig.tsbuildinfo

# misc
.DS_Store
.idea
.svn
.swc
.test
.clinic
@mf-types

# temp
**/.tmp
**/.prompts
.codex-fable5

# electron
release
src/main/bundle.js
src/main/bundle.js.map
