<div class="code-editor">
    <nz-layout>
        <nz-sider [nzWidth]="siderWidth" nz-resizable [nzMinWidth]="150" [nzMaxWidth]="800"
            (nzResize)="onSideResize($event)">
            <nz-resize-handle nzDirection="right" nzCursorType="grid">
                <!-- <div class="sider-resize-line"></div> -->
            </nz-resize-handle>
            <div class="left-box">
                <app-file-tree [rootPath]="projectPath" [(selectedFile)]="selectedFile"
                    (selectedFileChange)="selectedFileChange($event)"
                    (filesDeleted)="onFilesDeleted($event)"></app-file-tree>
            </div>
        </nz-sider>
        <nz-content>
            <div class="right-box">
                @if (openedFiles.length > 0) {
                <nz-tabset [nzSize]="'small'" [nzSelectedIndex]="selectedIndex"
                    (nzSelectedIndexChange)="onTabChange($event)" nzType="editable-card" [nzHideAdd]="true"
                    (nzClose)="closeTab($event)">
                    @for (file of openedFiles; track file.path; let i = $index) {
                    <nz-tab nzClosable [nzTitle]="titleTemplate">
                        <ng-template #titleTemplate>
                            <span class="tab-inner" (mousedown)="handleMiddleClick($event, i)">
                                {{ file.title }} <span class="blue-point" *ngIf="file.isDirty"></span>
                            </span>
                        </ng-template>
                    </nz-tab>
                    }
                </nz-tabset>
                <app-monaco-editor [code]="code" (codeChange)="onCodeChange($event)"
                    [filePath]="selectedFile?.path || ''" (openFileRequest)="onOpenFileRequest($event)">
                </app-monaco-editor>
                } @else {
                <div class="empty-editor ccenter" style="padding: 15px;">
                    <div class="logo">aily coder</div>
                    <div class="text">专业亦可简单</div>
                </div>
                }
            </div>
        </nz-content>
    </nz-layout>
</div>

<app-notification></app-notification>